---
import BlogPost from '../../components/BlogPost.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from "astro:content";

// Enable prerendering for this dynamic page
export const prerender = true;
const blogPosts = await getCollection("blog");

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
  console.log(uniqueTags);
  return uniqueTags.map((tag) => {
  const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
  return {
    params: { tag },
    props: { posts: filteredPosts },
  };
});
}

const { tag } = Astro.params;
const { posts = [] } = Astro.props; // Set default to an empty array to avoid undefined errors

--- 
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with "{tag}"</p>
  <ul>
    {posts.length > 0 ? (
      posts.map((post) => (
        <BlogPost 
          url={post.data.canonicalURL} 
          title={post.data.title} 
          author={post.data.author}
          pubDate={post.data.pubDate}
          cover={post.data.cover}
          altText={post.data.altText}
          id={post.slug}
        />
      ))
    ) : (
      <p>No posts found with the tag "{tag}".</p>
    )}
  </ul>
</BaseLayout>