---

import BaseLayout from '../layouts/BaseLayout.astro';
import HeroSection from '../components/HeroSection.astro';
import Cards from '../components/Cards.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');

const pageTitle = "Sajid's Corner";
const heroHeading = "I write on cyber secuirty topics to share my experiences and insights.";
const subtitle1 = "Still used to write and review code (but GenAI does most of it now), tinker with Gen AI tools, read books but listen alot.";
const subtitle2 = "Helping with the change in product security covering all aspects of it @ ";
const currentEmployerLink = "https://www.myob.com";
---

<BaseLayout title={pageTitle}>
     
    <HeroSection title={heroHeading} subtitle1={subtitle1} subtitle2={subtitle2} link={currentEmployerLink} />
    
    <!-- Main content section -->
    <section class="px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl sm:text-4xl font-bold mb-6">My Recent Posts</h1>
        <Cards/>
    </section>

</BaseLayout>
