---
import { Image } from 'astro:assets';
import { getCollection } from "astro:content";
const blogPosts = await getCollection("blog");

---

<div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 mt-4">
  {blogPosts.map((post) => (
    <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition-transform hover:scale-105 duration-200">
      <Image src={post.data.cover} alt={post.data.altText} class="w-full h-36 object-cover" />
      <div class="p-4">
        <h2 class="text-l font-bold mb-2">
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </h2>
        <span>
          <h5 class="font-medium text-gray-700">{post.data.author}</h5>
          <p class="text-gray-500 text-sm">Published on: {post.data.pubDate.toDateString().slice(0,10)}</p>
        </span>
      </div>
    </div>
  ))}
</div>





