---
import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";
const { frontmatter, Content } = Astro.props;

---
<BaseLayout pageTitle={frontmatter.pageTitle}
    

    <header class="mb-4">
      <h1 class="text-3xl font-bold">
        {frontmatter.title}
      </h1>
      <div class="tags">
        {frontmatter.tags.map((tag) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))}
      </div>
      <p class="text-gray-500">
        By {frontmatter.author} on {frontmatter.pubDate.toString()}
      </p>
    </header>
    <Prose>
    
     
        <slot />
      
      
    
  </Prose>

    
 </BaseLayout>
 